@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
  box-sizing: border-box;
}

header{
  display: flex;
  width: 100%;
  padding: 0.8em;
  justify-content: space-between;
  align-items: center;
}

 header .logo {
  width:  10em;
}


 nav ul {
  display: flex;
  margin-right: 0.2em;
}

nav ul li{
  list-style: none;
  margin-right: 1em;
}

 nav li a{
  text-decoration: none;
  color: #5a189a;
  font-size: 0.9rem;  
}

 .active
{
  background-color:#5a189a;
  color: #fff;
  padding: 0.5em;
  font-size: 0.9rem;
  border-radius: 15px;
}

nav li a:hover{
  background-color: #f4e3fe;
  padding: 0.5em;
  font-size: 0.9rem;
  border-radius: 15px;
}

.section-1{
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 0.75em;
  min-height: 82vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.purple{
  color: #5a189a;
}


.section-1-text h1{
  font-size: 3.5rem;
  margin-bottom: 0.5em;
}

.section-1-text p{
  margin-bottom: 0.7em;
  font-size: 1.5em;
}

.section-1 img{
  width: 50%;
}

.section-1 button{
  font-size: 0.8em;
  border: none;
  background: #fff;
  padding: 0.5em;
  width: 9em;
  outline: 1.5px solid #5a189a ;
  border-radius: 20px;

}


.section-1 button:hover{
  background-color: #5a189a;
  outline: none;
  color: #fff;
  box-shadow:  0 4px 4px rgba(0, 0, 0, 0.5);

}

@media(max-width:800px){
  .section-1{
    display: flex;
    flex-direction: column;
    min-height: auto;
    
  }

.section-1-text{
  text-align: center;
  order: 2;
}

.section-1 img{
  width: 80%;
}

}


.section-2 h2{
text-align: center;
}

.games{
  display:grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 0.5em;
  padding: 1.75%;
}

.slot{
  text-align: center;
  border: #f4e3fe 1.5px solid;
  padding: 1.5%;
}

.slot-card{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 0.5em;
  min-height: 220px;
  background: url(/images/UF\ COMPLAY.png) , linear-gradient(#5a189a, rgba(187, 75, 243, 0.363));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media(max-width:800px){
  .games{
    grid-template-columns: 90%;
    gap: 2em;
    justify-content: center;
  }

  .slot-card{
    min-height: 170px;
  }
}